<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:http="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">


    <!-- 配置包扫描器 -->
    <context:component-scan base-package="com.MyDemo"/>
    <context:component-scan base-package="com.MyDemo.mapper"/>
    <context:component-scan base-package="com.demo.mapper"/>
    <!-- 配置注解驱动 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
            <!--<bean id="fastJsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter ">-->
                <!--<property name="supportedMediaTypes">-->
                    <!--<list>-->
                        <!--<value>text/html;charset=UTF-8</value>-->
                        <!--<value>application/json;charset=UTF-8</value>-->
                        <!--<value>text/json;charset=UTF-8</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
            <!--&lt;!&ndash; 避免IE执行AJAX时,返回JSON出现下载文件 &ndash;&gt;-->
            <!--<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">-->
                <!--<property name="supportedMediaTypes">-->
                    <!--<list>-->
                        <!--<value>text/html;charset=UTF-8</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->

            <!--&lt;!&ndash;&lt;!&ndash; 启动Spring MVC的注解功能，完成请求和注解POJO的映射 &ndash;&gt;&ndash;&gt;-->
            <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">-->
                <!--<property name="messageConverters">-->
                    <!--<list>-->
                        <!--<ref bean="mappingJacksonHttpMessageConverter" />&lt;!&ndash; json转换器 &ndash;&gt;-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
                <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
                <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/json;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- aop 必须放在spring-mvc 主配置文件下 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <!-- 视图解析器 因为用了velocity，默认的注释掉-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/views/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/views/" />
        <property name="configLocation" value="classpath:velocity.properties" />
    </bean>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="cache" value="true" />
        <property name="prefix" value="" />
        <property name="suffix" value=".vm" />
        <property name="contentType">
            <value>text/html;charset=UTF-8</value>
        </property>
        <property name="dateToolAttribute" value="date" />
        <property name="numberToolAttribute" value="number" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="exposeRequestAttributes" value="true" />
        <!-- 转发覆盖 because of an existing model object of the same name -->
        <property name="allowSessionOverride" value="true" />
        <property name="allowRequestOverride" value="true" />
        <!-- 转发覆盖 end -->
        <property name="exposeSessionAttributes" value="true" />
        <property name="requestContextAttribute" value="rc" />
        <property name="layoutUrl" value="layout/default.vm" />
        <property name="toolboxConfigLocation" value="vm-tools.xml" />
        <property name="viewClass"
                  value="com.MyDemo.Util.Velocity.VelocityLayoutToolboxView" />
    </bean>

    <!--切面-->
    <bean id="DataCheckAspect" class="com.MyDemo.web.aspect.DataCheckAspect" />
    <!-- 拦截器 -->
    <mvc:interceptors>
        <bean class="com.MyDemo.web.Interceptor.LoginAuthInterceptor" />
    </mvc:interceptors>



</beans>